
@font-face {
  font-family: 'HoonWcatR';
  src: url('HoonWcatR.eot?#iefix') format('embedded-opentype'),  url('HoonWcatR.woff') format('woff'), url('HoonWcatR.ttf')  format('truetype'), url('HoonWcatR.svg#HoonWcatR') format('svg');
  font-weight: normal;
  font-style: normal;
}
